@page "/Error"
@using System.Diagnostics
@using Microsoft.AspNetCore.Diagnostics

<PageTitle>Error</PageTitle>

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>

@if (ShowRequestId)
{
    <p>
        <strong>Request ID:</strong> <code>@RequestId</code>
    </p>
}

@if (_exception is not null)
{
    <h3>@_exception.GetType().FullName: @_exception.Message</h3>
    <pre style="white-space: pre-wrap; font-size: 12px;">@_exception.StackTrace</pre>
    @if (_exception.InnerException is not null)
    {
        <h4>Inner exception: @_exception.InnerException.Message</h4>
        <pre style="white-space: pre-wrap; font-size: 12px;">@_exception.InnerException.StackTrace</pre>
    }
}

@code {
    [CascadingParameter] private HttpContext? HttpContext { get; set; }

    private string? RequestId { get; set; }
    private bool ShowRequestId => !string.IsNullOrEmpty(RequestId);
    private Exception? _exception;

    protected override void OnInitialized()
    {
        RequestId = Activity.Current?.Id ?? HttpContext?.TraceIdentifier;
        _exception = HttpContext?.Features.Get<IExceptionHandlerFeature>()?.Error;
    }
}
